RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !.jpg$ [NC]

RewriteCond %{REQUEST_URI} !.jpeg$ [NC]
RewriteCond %{REQUEST_URI} !.png$ [NC]
RewriteRule ^folder/([\.\a-zA-Z0-9]+)$ index.php?folder=$1

