html
{
    font-family: Sen sans-serif;
}

.menunav
{   
     background-color: honeydew;

    list-style: none;
    margin: 0;
}

.explorator
{
    padding: 15px;

}

a
{
    text-decoration: none;
    font-family: Sen ;
}

h1
{
    font-family: Sen;
}

.main
{
    border: 1px solid black;
}

.path
{
    border: 1px solid grey;
    padding: 2%;
}

.search
{
    text-align: right;
}

#explo
{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgb(233, 233, 233);
}

.taille
{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#icon
{
    width: 30px;
    height: auto;
    float: left;
    margin-right: 5px;
}

span
{
    display: inline;
}

#previewarea
{
    border: 1px solid grey;
    box-shadow: 0em 5px 3px grey;
}