html
{
    font-family: Sen sans-serif;
}

.menunav
{
    background-color: rgb(230, 230, 230);
    list-style: none;
    padding: 10px;
    margin: 0;
}

.explorator
{
    background-color: honeydew;
}

a
{
    text-decoration: none;
    font-family: Sen ;
}

h1
{
    font-family: Sen;
}

.main
{
    border: 1px solid black;
}